body {
  font-family: Garamond, serif;
  background-color: lightgrey;
}

h2,
p,
.readme-wrapper {
  text-align: center;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  cursor: pointer;
  font-weight: bold;
  color: darkblue;
}
.boxes {
  display: block;
  margin: 3em;
  padding: 2em;
  border: solid goldenrod;
  border-radius: 1em;
  width: 30em;
}

#box1 {
  background-color: purple;
}

#box2 {
  background-color: fuchsia;
}

#box3 {
  background-color: pink;
}

#box4 {
  background-color: palegreen;
}

.image {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #ffff00;
}

h1 {
  color: darkmagenta;
}

.original {
  color: darkred;
}

.additional {
  color: darkslateblue;
}

#Show1 {
  color: greenyellow;
}

#Show2 {
  color: cadetblue;
}

#Show3 {
  color: azure;
}

#Show4 {
  color: khaki;
}

#Show5 {
  color: mediumslateblue;
}

ul {
  color: crimson;
}

.star {
  color: darkorchid;
}

#wars {
  color: darkslategray;
}

.border-style {
  border: black 2px solid;
}
